*{
    padding: 0;
    margin: 0;
}
#Footer{
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: rgba(245,245,247,255);
}
#Footer>div{
    width: 70%;
    height: auto;
    margin: auto;
    padding-top: 10px;
}

#Footer>div>div:nth-child(2){
    width: 100%;
    height: 380px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid rgb(217, 217, 217);
}
#Footer>div>div:nth-child(2)>div{
    width: 20%;
    height: 380px;
}
#Footer>div>p:nth-child(3){
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}
#Footer>div>div:nth-child(4){
    width: 100%;
    height: 50px;
    border-top: 1px solid rgb(217, 217, 217);
    display: flex;
    margin-top: 10px;
}
#Footer>div>div:nth-child(4)>div:nth-child(2){
    width: 66.5%;
    height: 50px;
    margin-left: 30px;
}

@media screen and (min-width:250px) and (max-width:950px){
    #Footer>div{
        width: 100%;
    }
    #Footer>div>p:nth-child(3){
        margin-left: 30px;
    }
    #Footer>div>div:nth-child(4){
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin-left: 30px;
        width: 95%;
    }
    #Footer>div>div:nth-child(4)>div:nth-child(2){
        width:100%;
        height: auto;
        margin-left: 0px;
    }
    #Footer>div>div:nth-child(2){
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #Footer>div>div:nth-child(2)>div{
        width: 100%;
        height: auto;
        margin-left: 30px;
    }
}